body, html {
	margin:0;
	width:100%;
	height:100%;
	background-color:#000;
	font-weight:bold;
}

button {
	float:center;
	position:relative;
	margin:0 auto;
	width:100%;
	height:10%;
	background:none;
	color:cyan;
	text-shadow:0 0 8px red, 0 0 4px cyan;
	border:none;
	cursor:pointer;
}

button:hover {
	color:red;
	text-shadow:0 0 8px cyan, 0 0 4px red;
}

#leftPanel {
	float:left;
	position:relative;
	margin:0;
	width:14.5%;
	height:87.5%;
	border:1%;
	border-style:solid;
	border-color:#333;
}

table {
	float:left;
	position:relative;
	margin:0;
	border: 1px solid #333;
	width:100%;
	
}

th {
	border: 1px solid #333;
	color:cyan;
	user-select:none;
}

td {
	border: 1px solid #333;
	color:cyan;
	padding:1.25%;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
	font-size:80%;
}

td.column_a {width: auto;}
td.column_b {width: auto;}
td.column_c {width: auto;}
td.column_d {width: auto;}
td.column_e {width: auto;}

#branchesContent {
	display:none;
	float:right;
	position:relative;
	margin:0;
	width:84.5%;
	height:87.5%;
	border:1%;
	border-style:solid;
	border-color:#333;
	overflow:auto;
	overflow-y:none;
}

#branchDataContent {
	display:none;
	float:right;
	position:relative;
	margin:0;
	width:84.5%;
	height:87.5%;
	border:1%;
	border-style:solid;
	border-color:#333;
	overflow:auto;
	overflow-y:none;
}
